<h3>Your Digital Cart</h3>
<table class="table table-hover">
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  {{# each items }}
  <tr>
    <td>
        {{ this.product.name }}<br>
    </td>
    <td>
        ${{ format-price this.product.price }}<br>  
    </td>
     <td>
        {{ this.quantity }}     
          <button {{ action "more" this }}>+</button>
          <button {{ action "less" this }}>-</button>
    </td>
    <td>
        ${{ format-price this.subtotal }}
    </td>
  </tr>
   {{/ each }}
  <tr>
    <td></td>
    <td></td>
    <td><strong>Your order's total:<strong></td>
    <td><strong>${{ format-price this.total }}</strong>    
      {{# link-to "order" }}Checkout{{/ link-to }}</td>
  </tr>
</table>
